.lmj-shopping-list {
	margin: auto;
}

.lmj-plant-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.lmj-plant-list-itemBox{
	margin-bottom: 50px; 
}
